{% extends "tenant/partials/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Panel{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                {% block pagetitle %}
                    {% include "tenant/partials/page-title.html" with pagetitle="Infrastructure" title="Panel" subtitle="Create" %}
                {% endblock pagetitle %}
                <div class="row">
                    <div class="col m-2">
                        <div class="text-sm-end">
                            <a href="{% url 'Infrastructure:devicePanelInfo' %}">
                                <button type="button" class="btn btn-primary">
                                    <i class="mdi mdi-arrow-left"></i> Back To Main
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <form method="POST" action="{% url 'Infrastructure:devicePanelAdd' %}">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="example-content">
                                                <label for="branch" class="form-label">Branch</label>
                                                {% render_field panelAddForm.selectBranch class="form-select" %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="example-content">
                                                <label for="manufacturer"
                                                       class="form-label">Select Manufacturer</label>
                                                {% render_field panelAddForm.selectManufacturer class="form-select" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-6">
                                            <div class="example-content">
                                                <label for="slugName"
                                                       class="form-label">Slug Name</label>
                                                {% render_field panelAddForm.slugName class="form-control" %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="example-content">
                                                <label for="deviceID" class="form-label">Device ID</label>
                                                {% render_field panelAddForm.deviceID class="form-control" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-6">
                                            <div class="example-content">
                                                <label for="usernamce" class="form-label">Username</label>
                                                {% render_field panelAddForm.username class="form-control" %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="example-content">
                                                <label for="password" class="form-label">Password</label>
                                                {% render_field panelAddForm.password class="form-control" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-6">
                                            <div class="example-content">
                                                <label for="ip_address" class="form-label">IP
                                                    Address</label>
                                                {% render_field panelAddForm.ipAddress class="form-control" %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="example-content">
                                                <label for="exampleInputEmail1" class="form-label">Port</label>
                                                {% render_field panelAddForm.port class="form-control" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-4">
                                        <button type="submit" class="btn btn-success ">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {% block footer %}
            {% include "tenant/partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
{% endblock extra_js %}