{% extends "tenant/partials/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Camera Tag{% endblock title %}
{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                {% block pagetitle %}
                    {% include "tenant/partials/page-title.html" with pagetitle="Camera Tags" title="Camera Tag" subtitle="Update" %}
                {% endblock pagetitle %}
                <div class="row">
                    <div class="col m-2">
                        <div class="text-sm-end">
                            <a href="{% url 'Infrastructure:allTag' %}">
                                <button type="button" class="btn btn-primary">
                                    <i class="mdi mdi-arrow-left"></i> Back To Main
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <form method="POST" action="{% url 'Infrastructure:updateTag' tag_Update.id %}">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="row m-2">
                                        <div class="col">
                                            <label class="form-label">Tag Name</label>
                                            {% render_field updateForm.tagName class="form-control" %}
                                        </div>
                                        <div class="col">
                                            <label class="label">Select Users</label>
                                            {% render_field updateForm.users class="form-control js-example-basic-multiple" multiple="multiple" data-placeholder="Users" %}
                                        </div>
                                    </div>

                                    <div class="row m-4">
                                        <button type="submit" class="btn btn-success ">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {% block footer %}
            {% include "tenant/partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <!--jquery cdn-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--select2 cdn-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="{% static 'js/pages/select2.init.js' %}"></script>
{% endblock extra_js %}