{% extends "tenant/partials/base.html" %}
{% load static %}
{% block title %}NVR{% endblock title %}
{% block extra_css %}
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"/>
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css"/>

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                {% block pagetitle %}
                    {% include "tenant/partials/page-title.html" with pagetitle="Infrastructure" title="NVR" subtitle="NVR" %}
                {% endblock pagetitle %}

                <div class="row">
                    <div class="col m-2">
                        <div class="text-sm-end">
                            <a href="{% url 'Infrastructure:bulkUpload' %}">
                                <button type="button" class="btn btn-warning">
                                    <i class="bx bx-arrow-to-top"></i> Import NVR
                                </button>
                            </a>
                            <a href="{% url 'Infrastructure:deviceNvrAdd' %}">
                                <button type="button" class="btn btn-success">
                                    <i class="bx bx-plus"></i> Create NVR
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="example"
                                       class="table table-bordered dt-responsive nowrap table-striped align-middle"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Name</th>
                                        <th>Branch</th>
                                        <th>Manufacturer</th>
                                        {#                                        <th>Status</th>#}
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for nvr in all_devices %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>
                                                <a href="{% url 'Infrastructure:nvrDetails' nvr.id %}">
                                                    {{ nvr.slugName }}
                                                </a>
                                            </td>
                                            <td>{{ nvr.selectBranch }}</td>
                                            <td>{{ nvr.selectManufacturer }}</td>
                                            {#                                            {% if nvr.status == True %}#}
                                            {#                                                <td>#}
                                            {#                                                    <span type="text"#}
                                            {#                                                          class="btn btn-outline-success btn-sm">Online</span>#}
                                            {#                                                </td>#}
                                            {#                                            {% else %}#}
                                            {#                                                <td>#}
                                            {#                                                    <span type="text"#}
                                            {#                                                          class="btn btn-outline-danger btn-sm">Offline</span>#}
                                            {#                                                </td>#}
                                            {#                                            {% endif %}#}
                                            <td>
                                                <div class="d-flex gap-3">
                                                    <a href="{% url 'Infrastructure:deviceNvrUpdate' nvr.id %}"
                                                       class="text-warning">
                                                        <i class="mdi mdi-pencil font-size-18"></i>
                                                    </a>
                                                    <a href="{% url 'Infrastructure:deviceNvrDelete' nvr.id %}"
                                                       class="text-danger">
                                                        <i class="mdi mdi-delete font-size-18"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {% block footer %}
            {% include "tenant/partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="{% static 'js/pages/datatables.init.js' %}"></script>
{% endblock extra_js %}