{% extends 'tenant/partials/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Live Inference{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col m-2">
                        <div class="text-sm-end">
                            <a href="{% url 'Marketplace:branch' %}">
                                <button type="button" class="btn btn-primary">
                                    <i class="mdi mdi-arrow-left"></i> Back To Main
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card text-center">
                            <div class="card-body m-4">
                                <h2>Are you sure you want to delete {{ asset_instance }}?</h2>
                                <form method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger m-4">Delete</button>
                                    <a href="{% url 'Marketplace:branch' %}">
                                        <button type="button" class="btn btn-outline-primary m-4">
                                            Cancel
                                        </button>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>



{% endblock %}
