{% extends "tenant/partials/base.html" %}
{% load static %}
{% block title %}IOT Dashboard{% endblock title %}
{% block extra_css %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                {% block pagetitle %}
                    {% include "tenant/partials/page-title.html" with pagetitle="IOT Dashboard" title="IOT Dashboard" subtitle="IOT" %}
                {% endblock pagetitle %}
                <!-- Connection Status and Analysis Chart -->
                <div class="row">
                    <div class="col m-2">
                        <div class="text-sm-end">
                            <button type="button" id="mqttButton" class="btn btn-outline-danger btn-sm">
                                Connection Status : <span class="text status">Disconnected</span>
                            </button>
                            <button class="btn btn-info btn-sm" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"> Analysis Chart
                            </button>
                            <a href="{% url 'tenantHome:iotDashboard' %}">
                                <button type="button" class="btn btn-primary btn-sm">
                                    <i class="mdi mdi-arrow-left"></i> Back To Main
                                </button>
                            </a>
                            <!-- Analysis Chart -->
                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                                 aria-labelledby="offcanvasRightLabel">
                                <div class="offcanvas-header border-bottom">
                                    <h5 class="offcanvas-title" id="offcanvasRightLabel">IOT Chart</h5>
                                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                            aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body p-0 overflow-hidden">
                                    <div data-simplebar style="height: calc(100vh - 112px);">
                                        <div class="acitivity-timeline p-4">
                                            <div class="acitivity-item d-flex">
                                                <div class="flex-shrink-0">
                                                           <span class="avatar-xs rounded-circle acitivity-avatar">
                                                                <i class="ri-pushpin-2-line fs-3 text-info"></i>
                                                            </span>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="mb-1">CO2 Range</h6>
                                                    <p class="text-muted mb-2">Range of 200 to 1500 ppm</p>
                                                </div>
                                            </div>
                                            <div class="acitivity-item d-flex mt-2">
                                                <div class="flex-shrink-0">
                                                    <span class="avatar-xs rounded-circle acitivity-avatar">
                                                        <i class="ri-pushpin-2-line fs-3 text-danger"></i>
                                                    </span>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="mb-1">PM2.5 & PM10 </h6>
                                                    <p class="text-muted mb-2">Range of 0 to 1000 ug/m3</p>
                                                </div>
                                            </div>
                                            <div class="acitivity-item d-flex mt-2">
                                                <div class="flex-shrink-0">
                                                    <span class="avatar-xs rounded-circle acitivity-avatar">
                                                        <i class="ri-pushpin-2-line fs-3 text-success"></i>
                                                    </span>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="mb-1">Light Levels</h6>
                                                    <p class="text-muted mb-2">Range of 0 to 1000 ug/m3</p>
                                                </div>
                                            </div>
                                            <div class="acitivity-item d-flex mt-2">
                                                <div class="flex-shrink-0">
                                                    <span class="avatar-xs rounded-circle acitivity-avatar">
                                                        <i class="ri-pushpin-2-line fs-3 text-warning"></i>
                                                    </span>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="mb-1">TVOC Levels</h6>
                                                    <p class="text-muted mb-2">Range of 0 to 1000 ug/m3</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Connection Status and Analysis Chart -->


                <div class="row">
                    <!-- Environment Sensor -->
                    {% if sensor_groups.Environment %}
                        <div class="col-md-6">
                            <div class="card card-animate card-border-danger">
                                <div class="card-header">
                                    <span class="text text-muted">Environment Sensor</span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {% for device in sensor_groups.Environment %}
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <span class="text text-muted">{{ device.name }}  - {{ device.description }} - {{ device.selectTag }}</span>
                                                            </div>
                                                            <div class="card-body">
                                                                <div id="temperature-gauge" class="e-charts"></div>
                                                            </div><!-- end card body -->
                                                        </div> <!-- end card-->
                                                    </div> <!-- end temperature -->
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <span class="text text-muted">{{ device.name }} - {{ device.description }} - {{ device.selectTag }}</span>
                                                            </div>
                                                            <div class="card-body">
                                                                <div id="humidity-gauge" class="e-charts"></div>
                                                            </div><!-- end card body -->

                                                        </div> <!-- end card-->
                                                    </div> <!-- end humidity -->
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <span class="text text-muted">{{ device.name }}  - {{ device.description }} - {{ device.selectTag }}</span>
                                                            </div>
                                                            <div class="card-body">
                                                                <div id="pressure-gauge" class="e-charts"></div>
                                                            </div><!-- end card body -->
                                                        </div> <!-- end card-->
                                                    </div> <!-- end Pressure -->
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <span class="text text-muted">{{ device.name }}  - {{ device.description }} - {{ device.selectTag }}</span>
                                                            </div>
                                                            <div class="card-body">
                                                                <div id="light-gauge" class="e-charts"></div>
                                                            </div><!-- end card body -->

                                                        </div> <!-- end card-->
                                                    </div> <!-- end Light-->
                                                </div>
                                                <!-- Gauge Chart -->
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <span class="text text-muted">{{ device.name }}  - {{ device.description }} - {{ device.selectTag }}</span>
                                                            </div>
                                                            <div class="card-body">
                                                                <div id="co2-gauge" class="e-charts"></div>
                                                            </div>
                                                        </div>
                                                    </div> <!-- CO2 Chart -->
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <span class="text text-muted">{{ device.name }}  - {{ device.description }} - {{ device.selectTag }}</span>
                                                            </div>
                                                            <div class="card-body">
                                                                <div id="pm25-gauge" class="e-charts"></div>
                                                            </div>
                                                        </div>
                                                    </div> <!-- PM2.5 Chart -->
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-6">
                            <div class="card card-animate card-border-danger">
                                <div class="card-header">
                                    <span class="text text-muted">Environment Sensor</span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <p>No Environment Sensor Configured</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- End Environment Sensor -->
                    <div class="col-md-6">
                        <!-- Branch Floor Design -->
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div id="image-map-pro"></div>
                                </div>
                            </div>
                        </div>
                        <!-- End Branch Floor Design -->
                        <!-- People Counting -->
                        <div class="row">
                            <div class="col">
                                <div class="card card-animate">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <p class="fw-medium text-muted mb-0">People In</p>
                                                <h2 class="mt-4 ff-secondary fw-semibold"><span
                                                        class="text" id="VS121-people-in">12</span></h2>
                                            </div>
                                            <div>
                                                <div class="avatar-sm flex-shrink-0">
                                                    <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                        <i class="ri-user-received-fill fs-3 text-info"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end card body -->
                                </div> <!-- end card-->
                            </div> <!-- end People In -->
                            <div class="col">
                                <div class="card card-animate">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <p class="fw-medium text-muted mb-0">People Out</p>
                                                <h2 class="mt-4 ff-secondary fw-semibold"><span
                                                        class="text" id="VS121-people-out">10</span>
                                                </h2>
                                            </div>
                                            <div>
                                                <div class="avatar-sm flex-shrink-0">
                                                    <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                        <i class=" ri-user-shared-fill fs-3 text-info"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end card body -->
                                </div> <!-- end card-->
                            </div> <!-- end People Out -->
                        </div>
                        <!-- End People Counting -->
                    </div>
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {% block footer %}
            {% include "tenant/partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <!-- echarts js -->
    <script src="{% static 'libs/echarts/dist/echarts.min.js' %}"></script>
    {#    <script src="{% static 'libs/chart.js/dist/chart.umd.js' %}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.js" type="text/javascript"></script>
    <script src="{% static 'js/mqttWork/mqttService.js' %}"></script>
    <script>
        let temperatureChartDom = document.getElementById('temperature-gauge');
        let temperatureChart = echarts.init(temperatureChartDom);
        let temperatureOption;
        temperatureOption = {
            tooltip: {
                formatter: "{a} <br/>{b} : {c}%"
            },
            series: [
                {
                    name: 'Temperature',
                    type: 'gauge',
                    min: 200,
                    max: 1500,
                    splitNumber: 5,
                    axisLine: {
                        lineStyle: {
                            width: 10,
                            color: [
                                [0.2, '#ff4500'], // 0 - 200
                                [0.4, '#ff8c00'], // 201 - 400
                                [0.6, '#ffd700'], // 401 - 600
                                [0.8, '#90ee90'], // 601 - 800
                                [1, '#00ced1']   // 801 - 1000
                            ]
                        }
                    },
                    detail: {formatter: '{value}'},
                    data: [{value: 450, name: 'Temperature'}]
                }
            ]
        };
        temperatureChart.setOption(temperatureOption);
        <!--End Humidity -->
        let humidityChartDom = document.getElementById('humidity-gauge');
        let humidityChart = echarts.init(humidityChartDom);
        let humidityOption;
        humidityOption = {
            tooltip: {
                formatter: "{a} <br/>{b} : {c}%"
            },
            series: [
                {
                    name: 'Humidity',
                    type: 'gauge',
                    min: 200,
                    max: 1500,
                    splitNumber: 5,
                    axisLine: {
                        lineStyle: {
                            width: 10,
                            color: [
                                [0.2, '#ff4500'], // 0 - 200
                                [0.4, '#ff8c00'], // 201 - 400
                                [0.6, '#ffd700'], // 401 - 600
                                [0.8, '#90ee90'], // 601 - 800
                                [1, '#00ced1']   // 801 - 1000
                            ]
                        }
                    },
                    detail: {formatter: '{value}'},
                    data: [{value: 450, name: 'Humidity'}]
                }
            ]
        };
        humidityChart.setOption(humidityOption);
        <!--End Humidity -->
        let lightChartDom = document.getElementById('light-gauge');
        let lightChart = echarts.init(lightChartDom);
        let lightOption;
        lightOption = {
            tooltip: {
                formatter: "{a} <br/>{b} : {c}%"
            },
            series: [
                {
                    name: 'Light',
                    type: 'gauge',
                    min: 200,
                    max: 1500,
                    splitNumber: 5,
                    axisLine: {
                        lineStyle: {
                            width: 10,
                            color: [
                                [0.2, '#ff4500'], // 0 - 200
                                [0.4, '#ff8c00'], // 201 - 400
                                [0.6, '#ffd700'], // 401 - 600
                                [0.8, '#90ee90'], // 601 - 800
                                [1, '#00ced1']   // 801 - 1000
                            ]
                        }
                    },
                    detail: {formatter: '{value}'},
                    data: [{value: 450, name: 'Light'}]
                }
            ]
        };
        lightChart.setOption(lightOption);
        <!--End Light -->
        let pressureChartDom = document.getElementById('pressure-gauge');
        let pressureChart = echarts.init(pressureChartDom);
        let pressureOption;
        pressureOption = {
            tooltip: {
                formatter: "{a} <br/>{b} : {c}%"
            },
            series: [
                {
                    name: 'Pressure',
                    type: 'gauge',
                    min: 200,
                    max: 1500,
                    splitNumber: 5,
                    axisLine: {
                        lineStyle: {
                            width: 10,
                            color: [
                                [0.2, '#ff4500'], // 0 - 200
                                [0.4, '#ff8c00'], // 201 - 400
                                [0.6, '#ffd700'], // 401 - 600
                                [0.8, '#90ee90'], // 601 - 800
                                [1, '#00ced1']   // 801 - 1000
                            ]
                        }
                    },
                    detail: {formatter: '{value}'},
                    data: [{value: 450, name: 'Pressure(in PPM)'}]
                }
            ]
        };
        pressureChart.setOption(pressureOption);
        <!--End Pressure -->
        let pm2ChartDom = document.getElementById('pm25-gauge');
        let pm2Chart = echarts.init(pm2ChartDom);
        let pm2option;
        pm2option = {
            tooltip: {
                formatter: "{a} <br/>{b} : {c}%"
            },
            series: [
                {
                    name: 'PM 2.5',
                    type: 'gauge',
                    min: 0,
                    max: 1000,
                    splitNumber: 5,
                    axisLine: {
                        lineStyle: {
                            width: 10,
                            color: [
                                [0.2, '#ff4500'], // 0 - 200
                                [0.4, '#ff8c00'], // 201 - 400
                                [0.6, '#ffd700'], // 401 - 600
                                [0.8, '#90ee90'], // 601 - 800
                                [1, '#00ced1']   // 801 - 1000
                            ]
                        }
                    },
                    detail: {formatter: '{value}'},
                    data: [{value: 50, name: 'PM 2.5'}]
                }
            ]
        };
        pm2Chart.setOption(pm2option);
        <!--End PM25-->
        <!--CO2-->
        let co2chartDom = document.getElementById('co2-gauge');
        let co2Chart = echarts.init(co2chartDom);
        let co2option;
        co2option = {
            tooltip: {
                formatter: "{a} <br/>{b} : {c}%"
            },
            series: [
                {
                    name: 'CO2',
                    type: 'gauge',
                    min: 200,
                    max: 1500,
                    splitNumber: 5,
                    axisLine: {
                        lineStyle: {
                            width: 10,
                            color: [
                                [0.2, '#ff4500'], // 0 - 200
                                [0.4, '#ff8c00'], // 201 - 400
                                [0.6, '#ffd700'], // 401 - 600
                                [0.8, '#90ee90'], // 601 - 800
                                [1, '#00ced1']   // 801 - 1000
                            ]
                        }
                    },
                    detail: {formatter: '{value}'},
                    data: [{value: 450, name: 'CO2(in PPM)'}]
                }
            ]
        };
        co2Chart.setOption(co2option);
        <!--End CO2 -->
    </script>
    <!-- End Chart js -->
    <script src="{% static 'js/image-map-pro.min.js' %}"></script>
    <script>ImageMapPro.init('#image-map-pro', {
        "id": "2acb0292-81f5-4a77-8740-bd81e5342c29",
        "artboards": [{
            "title": "Airtel Gurgaon",
            "background_type": "image",
            "image_url": "https://www.commercialdesignindia.com/cloud/2021/11/27/bvsb6W30-cover-2.jpg",
            "width": 1965,
            "height": 1134,
            "use_image_size": true,
            "children": [
                {
                    "id": "3be0e07b-5c30-4c5b-8821-3256c165bff0",
                    "title": "D-Block",
                    "type": "poly",
                    "x": 79.38144329896907,
                    "y": 47.230633772433826,
                    "width": 7.525773195876283,
                    "height": 33.76290578191692,
                    "default_style": {
                        "opacity": 0.42567567567567566,
                        "background_color": "#09c31f",
                        "background_opacity": 0.17567567567567566,
                        "stroke_color": "#252222",
                        "stroke_opacity": 0.5945945945945946
                    },
                    "mouseover_style": {"opacity": 0.6148648648648649, "background_color": "#f24545"},
                    "tooltip_content": [{
                        "type": "Heading",
                        "text": "D-Block",
                        "heading": "h3",
                        "other": {"id": "", "classes": "", "css": ""},
                        "style": {
                            "fontFamily": "sans-serif",
                            "fontSize": 20.8,
                            "lineHeight": "normal",
                            "color": "#ffffff",
                            "textAlign": "left"
                        },
                        "boxModel": {
                            "width": "auto",
                            "height": "auto",
                            "margin": {"top": 0, "bottom": 0, "left": 0, "right": 0},
                            "padding": {"top": 10, "bottom": 10, "left": 10, "right": 10}
                        },
                        "id": "17b02130-4d03-498e-93b0-05206fb6e1f3"
                    }],
                    "x_image_background": 79.79381443298969,
                    "y_image_background": 47.766557403316426,
                    "points": [{"x": 0, "y": 2.116400913868971}, {
                        "x": 10.95890410958901,
                        "y": 98.9417427233744
                    }, {"x": 71.23287671232875, "y": 98.41264249490723}, {"x": 100, "y": 100}, {
                        "x": 83.56164383561648,
                        "y": 4.761902056205178
                    }, {"x": 57.53424657534249, "y": 0}]
                },
                {
                    "id": "6d9988b7-3b1e-47f9-bcc6-757f10eee65f",
                    "title": "B-Block",
                    "type": "poly",
                    "x": 69.38144329896907,
                    "y": 37.22682031718759,
                    "width": 10.721649484536087,
                    "height": 46.44629902361861,
                    "tooltip_content": [{
                        "type": "Heading",
                        "text": "B-Block",
                        "heading": "h3",
                        "other": {"id": "", "classes": "", "css": ""},
                        "style": {
                            "fontFamily": "sans-serif",
                            "fontSize": 20.8,
                            "lineHeight": "normal",
                            "color": "#ffffff",
                            "textAlign": "left"
                        },
                        "boxModel": {
                            "width": "auto",
                            "height": "auto",
                            "margin": {"top": 0, "bottom": 0, "left": 0, "right": 0},
                            "padding": {"top": 10, "bottom": 10, "left": 10, "right": 10}
                        },
                        "id": "161e2d51-6c1f-487a-b2c6-526ba4d6766a"
                    }],
                    "x_image_background": 69.38144329896907,
                    "y_image_background": 37.22682031718759,
                    "points": [{"x": 0, "y": 5.769230769230769}, {
                        "x": 7.6923076923076925,
                        "y": 98.07692307692307
                    }, {"x": 70.1923076923077, "y": 100}, {"x": 100, "y": 98.46153846153847}, {
                        "x": 94.23076923076923,
                        "y": 7.6923076923076925
                    }, {"x": 60.57692307692307, "y": 0}]
                }]
        }], "version": "6.0.15", "general": {"name": "Untitled"}
    })</script>
{% endblock extra_js %}



{# <div class="col-md-8 d-flex align-items-stretch">#}
{#                        <div class="card w-100">#}
{#                            <div class="card-body d-flex justify-content-center align-items-center"#}
{#                                 style="height: 100%;">#}
{#                                <h1 class="text" id="clock"></h1>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div> <!-- Current Time -->#}