{% load static %}
{% block sidebar %}
    <!-- ========== App Menu ========== -->
    <div class="app-menu navbar-menu">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <!-- Dark Logo-->
            <a href="#" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{% static 'images/default/neubit.svg' %}" alt="" height="22">
                    </span>
                <span class="logo-lg">
                        <img src="{% static 'images/default/neubit.svg' %}" alt="" height="17">
                    </span>
            </a>
            <!-- Light Logo-->
            <a href="#" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{% static 'images/default/neubit.svg' %}" alt="" height="22">
                    </span>
                <span class="logo-lg">
                        <img src="{% static 'images/default/neubit.svg' %}" alt="" height="17">
                    </span>
            </a>
            <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover">
                <i class="ri-record-circle-line"></i>
            </button>
        </div>

        <div id="scrollbar">
            <div class="container-fluid">

                <div id="two-column-menu">
                </div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarDashboards">
                            <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Dashboards</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarDashboards">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{% url 'publicHome:dashboard' %}" class="nav-link" data-key="t-main">
                                        Main </a>
                                </li>

                            </ul>
                        </div>
                    </li> <!-- end Dashboard Menu -->
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#">
                            <i class="ri-message-3-line"></i> <span data-key="t-widgets">Tickets</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarOnboarding" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarOnboarding">
                            <i class="ri-profile-line"></i> <span data-key="t-onboarding">Onboarding</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarOnboarding">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{% url 'publicHome:tenantList' %}" class="nav-link" data-key="t-tenant">
                                        Tenant </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'publicHome:domainList' %}" class="nav-link" data-key="t-domain">
                                        Domain </a>
                                </li>

                            </ul>
                        </div>
                    </li><!-- end Onboarding Menu -->
                </ul>
            </div>
            <!-- Sidebar -->
        </div>
        <div class="sidebar-background"></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>
{% endblock sidebar %}
    